# Initial gitignore file 
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Environment
.env

# Model files
*.h5
*.pt
*.pth
*.joblib
*.pkl


# IDE
.vscode/
.idea/
*.swp

# Database
*.db
*.sqlite

# Logs
*.log

# OS
.DS_Store

