fastapi
uvicorn[standard]
python-dotenv
langchain
psycopg2-binary
sqlalchemy
pgvector
pydantic-settings
langchain-text-splitters
langchain-google-genai
pypdf
python-multipart
python-jose[cryptography] 
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
pydantic[email]
sentence-transformers==2.3.1
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.2+cpu
tavily-python
langchain-tavily
python-dotenv==1.0.1
pydantic==2.6.0
pydantic-settings==2.1.0